<title>Sign up</title>
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>Welcome to Saltware</h2>
    <img src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/83895610_888542104938609_6308396522081429437_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=109&_nc_ohc=FgOvZvbdBiIAX-pazRZ&oh=6296861c2a69542664aaa0a409109867&oe=5EFA3001" width="250" height="250">
    <img src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/84824636_193562145352922_7452050175983959577_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=GJ44JjCyR5UAX-su7ak&oh=b4f10ed7a7de0a4a8ffb1fe0c938b437&oe=5EFEA64D" width="250" height="250">
    <img src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/83244069_144679553220180_21527605136748507_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=100&_nc_ohc=FJ2vw5nZXkoAX9wO5Dh&oh=514c3a6a7582f621febb6aae91ce0315&oe=5EF715A1" width="250" height="250">
    <img src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/76828676_156622915680676_3162223738042756167_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=104&_nc_ohc=Gve_QiIA1xgAX8YaYIW&oh=aab942d6e3eccceac25ef8c08b30e06c&oe=5EDEAB62" width="250" height="250">

    <form action="" method="post" role="form" enctype=multipart/form-data>
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">

            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">

            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">

            <label for="attachment">Attachment</label>
            <input type="file" class="form-control-file" id="attachment" name="attachment">

        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for message in messages %}
          {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
              <strong>Success! </strong> {{ message[1] }}</div>
          {% endif %}
          {% if "Error" in message[1]: %}
            <div class="alert alert-warning">{{ message[1] }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
